<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hello I'm Som.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E35234931D8220A3009231AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E35234A71D8220A4009231AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E35234B21D8220A4009231AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
